header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.heading {
  color: #444;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 1rem;
}

li a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

li a:hover {
  color: #00adb5;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 1rem;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 1rem 0;
  }
}
